/* Reset some default styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Navbar styles */
.navbar {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    margin: 0;
    padding-left: 20px;
}

.navbar .logout {
    padding-right: 20px;
    margin: 0;
}

/* Login section styles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.outer {
    width: 80%;
    max-width: 600px;
    margin-top: 50px;
}

.border {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.word {
    margin: 0;
}

.bottom {
    padding: 20px;
    text-align: center;
}

 .logout{
    display: block;
    width: 10%;
    padding: 5px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    
}

.btn:hover {
    background-color: #2980b9;
}
